* {
    padding: 0px;
    margin: 0px; 
    box-sizing: border-box; 
}
body{
    height: 100hv;
}
#parent{
    width: 800px;
    height: 600px;
}

.child{
    justify-content: center;
    align-items: flex-end;
}