* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    height: 100vh;
}
div{
    border: 5px dashed rgb(13, 101, 225);
    background-color: #1c27ee;
}
h1{
    color: #0b2f61;
}
p{
    color: #24c421;
}