* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    height: 100vh;
}
div{
    border: 5px dashed rgb(20, 98, 12);
    background-color: rgb(69, 54, 164);
}
h1{
    color: #8e1c1c;
}
p{
    color: #24c421;
}